<app-header></app-header>
<section class="section_container popular_container">
    <h2 class="section_header">Hoteis Populares</h2>
    <div class="popular_grid">
        <div class="popular_card">
            <img src="../../assets/hotel-1.jpg" alt="popular hotel;">
            <div class="popular_content">
                <div class="popular_card_header">
                    <h4>Hotel Plaza</h4>
                    <h4>R$4599</h4>
                </div>
                <p>New York City, USA</p>
            </div>
        </div>
        <div class="popular_card">
            <img src="../../assets/hotel-2.jpg" alt="popular hotel;">
            <div class="popular_content">
                <div class="popular_card_header">
                    <h4>Ritz Paris</h4>
                    <h4>R$5549</h4>
                </div>
                <p>Paris, France</p>
            </div>
        </div>
        <div class="popular_card">
            <img src="../../assets/hotel-3.jpg" alt="popular hotel;">
            <div class="popular_content">
                <div class="popular_card_header">
                    <h4>The Peninsula</h4>
                    <h4>R$5099</h4>
                </div>
                <p>Hong Kong</p>
            </div>
        </div>
        <div class="popular_card">
            <img src="../../assets/hotel-4.jpg" alt="popular hotel;">
            <div class="popular_content">
                <div class="popular_card_header">
                    <h4>Hotel Plaza</h4>
                    <h4>R$4249</h4>
                </div>
                <p>Dubai, United Arab Emirates</p>
            </div>
        </div>
        <div class="popular_card">
            <img src="../../assets/hotel-5.jpg" alt="popular hotel;">
            <div class="popular_content">
                <div class="popular_card_header">
                    <h4>The Ritz-Carlton</h4>
                    <h4>R$6999</h4>
                </div>
                <p>Tokyo, Japan</p>
            </div>
        </div>
        <div class="popular_card">
            <img src="../../assets/hotel-6.jpg" alt="popular hotel;">
            <div class="popular_content">
                <div class="popular_card_header">
                    <h4>Marina Bay Sands</h4>
                    <h4>R$5045</h4>
                </div>
                <p>Singapore</p>
            </div>
        </div>
    </div>
</section>

<section class="client">
    <div class="section_container client_container">
        <h2 class="section_header">What our client say</h2>
        <div class="client_grid">
            <div class="client_card">
                <img src="../../assets/client-1.jpg" alt="client" />
                <p>
                    Enquanto cliente, ao explorar o site deste hotel, fui imediatamente atraído pela simplicidade. A
                    interface intuitiva facilitou a localização de informações essenciais, como tipos de quartos,
                    comodidades e preços. A reserva foi rápida e direta, contribuindo para uma experiência de compra
                    eficiente.
                </p>
            </div>
            <div class="client_card">
                <img src="../../assets/client-2.jpg" alt="client" />
                <p>Uma avaliação crítica para mim ao visitar um site de hotel é a qualidade e transparência das
                    informações. Este site se destacou ao fornecer descrições detalhadas de quartos, fotos de alta
                    resolução e informações claras sobre políticas de cancelamento e custos adicionais. A transparência
                    aumentou minha confiança na decisão de reserva.
                </p>
            </div>
            <div class="client_card">
                <img src="../../assets/client-3.jpg" alt="client" />
                <p>
                    Ao avaliar o site como cliente, prestei atenção especial às avaliações de outros hóspedes. A
                    presença de depoimentos autênticos e avaliações positivas influenciou significativamente minha
                    decisão. Ler experiências reais de outros clientes proporcionou confiança e validação, enquanto a
                    resposta do hotel a críticas construtivas demonstrou um compromisso com a satisfação do cliente.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section_container">
    <div class="reward_container">
        <p>100+ códigos de desconto</p>
        <h4>Viagens dos sonhos em realidade!</h4>
        <button class="reward_btn">Juntar às recompensas</button>
    </div>
</section>
<app-footer></app-footer>
```