
<header class="section__container header_container">
    <div class="header_image_container">
        <div class="header_content">
            <h1>Aproveite as férias dos seus sonhos</h1>
            <p>Reserve hotéis, voos e pacotes de estadia pelo menor preço.</p>
        </div>
        <div class="booking_container">
            <form>
                <div class="form_group">
                    <div class="input_group">
                        <input type="text">
                        <label>Localização</label>
                    </div>
                    <p>adicione a data</p>
                </div>
                <div class="form_group">
                    <div class="input_group">
                        <input type="text">
                        <label>check-in</label>
                    </div>
                    <p>adicione a data de ida</p>
                </div>
                <div class="form_group">
                    <div class="input_group">
                        <input type="text">
                        <label>check-out</label>
                    </div>
                    <p>adicione a data de voltar</p>
                </div>
                <div class="form_group">
                    <div class="input_group">
                        <input type="text">
                        <label>convidados</label>
                    </div>
                    <p>adicione os convidados</p>
                </div>
            </form>
            <button class="btn"><i class="ri-search-line"></i></button>
        </div>
    </div>
</header>
<app-carrossel></app-carrossel>