<footer class="footer">
    <div class="section_container footer_container">
        <div class="footer_col">
            <h3>Jhennyf</h3>
            <p>Tenha a maior experi'ecia da sua vida, ao lado de amigos, familiarias e pessoas especiais.</p>
        </div>
        <div class="footer_col">
            <h4>Companhia</h4>
            <p>sobre nós</p>
            <p>Nosso Time</p>
            <p>Blog</p>
            <p>Contato</p>
        </div>
        <div class="footer_col">
            <h4>Jurídica</h4>
            <p>FAQs</p>
            <p>Nosso Time</p>
            <p>termos e condições</p>
            <p>Política de Privacidade </p>
        </div>
        <div class="footer_col">
            <h4>Recursos</h4>
            <p>Social Media</p>
            <p>Centro de ajuda</p>
            <p>Parcerias</p>
        </div>
    </div>
    <div class="footer_bar">
        Copyrigth &copy; 2023 Jhennyf Lima.
    </div>
</footer>