<h2>Cadastre-se</h2>
<form>
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" placeholder="coloque o nome aqui" required />
  </div>
  <div class="form-group">
    <label for="numero">Numero</label>
    <input type="number" placeholder="coloque o numero aqui" required />
  </div>
  <div class="form-group">
    <label for="endereco">Endereço</label>
    <input type="text" placeholder="coloque o endereço aqui" required />
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" placeholder="coloque o email aqui" required />
  </div>
  <div class="form-group">
    <label for="senha">Senha</label>
    <input type="password" placeholder="coloque a senha aqui" required />
  </div>
  <input type="submit"/>
</form>